
/*IMPORTS DE PARCIALES*/
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import "variables" ;
@import "navbar" ;
@import "footer" ;
@import "animaciones";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

// index y nosotros
/*TODAS*/
.contenidoPagecart, .contenidoPage, .titulos, .filtros, .contenidoCatalogo{
    padding-bottom: 5%;
}

.contenidoPage{
    margin-top: 80px;
    width: 100%;
    display: grid;
    grid-template-areas:
    "centrarbarra centrarbarra"
    "texto_index imagen_index";
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    justify-content: center;
    
}
/*PAGINA INDEX*/

.centrarbarra{
    width: 100%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    justify-content: space-between;
    align-content: center;
    grid-area: centrarbarra;
    h1{
        margin-top: 12px;
    }

    .barra_busqueda{
        width: 90%;
        margin-top: 15px;
        margin-left: 15px;
        padding: 5px 15px 5px 10px;
        align-items: center;
        align-content: center;
        display: flex;
        border-radius: 25px;
        border-color: $colorgris;
        border: 2px;
        border-style: solid;
        min-width: 100px;
        background-color: #FEF972;

        input{
            width: 100%;
            height: 30px;
            margin: 0 5px;
            border: none;   
            &:focus{
                outline: none;
            } 
        }
        .input{
            background-color: $colormorty;
        }

        .icon{
            display: grid;
            align-content: center;
            color: $colornegro;
            :visited{
                color: $colornegro;
                text-decoration: none; 
            }
        }
    }
    .iconoCarrito{
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 15px;
        padding: 5px 5px 5px 5px;
        background-color: $colormorty;
        display: flex;
        border-radius: 15px;
        border-color: $colorgris;
        border: 2px;
        border-style: solid;
        
        .fotocarrito{
            height: 35px;
        }
    }
    
}
.texto_index{
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    grid-area: texto_index;
    height: 60%;
    width: 60%;
    margin-left: 40%;
}
.imagen_index{
    grid-area: imagen_index; 
}
.rymimg{
    height: auto;
    width: 100%;
    max-width: 300px;
    min-width: 150px;
}

/*PAGINA NOSOTROS*/
.jerryCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 400px;
    grid-area: imagen_index;
    margin-bottom: 20px;
    margin-left: 10%;

    .jerrymamadoimg{
        border: solid 4px #FEF972;
        border-radius: 10%;
        height: auto;
        max-width: 300px;
    }
}
.nosotrosTexto{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    margin-top: 0%;
    margin-bottom: 10%;
    text-align: right;
    margin-left: 20%;
    padding: 20px;
    grid-area: texto_index;
}
//PAGE CATALOGO
.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-image: linear-gradient( 360deg, #0e0e0e 0%, #10a7c9 );
    margin-top: 80px;
    top: 80px;
}

@import "menuCatalogo";
@import "productosCatalogo";

// PAGE CARRITO
@import "carrito" ;
.disabled{
    display: none;
}

/*PAGINA RESGISTRARSE*/
.registertitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    grid-area: registertitle;
    h1{
        margin-bottom: 7px;
        margin-left: 5px;
    }
    p{
        margin-left: 7px;
    }
}

.formulario-de-registro{
    
    background-color: $colorrick;
    border-radius: 20px;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    align-content: center;
    grid-area: formulario;
    
}
form{
    display: flex;
    justify-content: center;
}
fieldset{
    display: flex;
    flex-direction: column;
    font-family: $font-family;
    font-size: $font-p;
    padding: 10px;
    border-radius: 20px;
    gap: 3px;
    legend{
        margin-left: 10px;
    }
    p{
        color: $colornegro;
    }
    input{
        border-radius: 10px;
    }
    select{
        border-radius: 10px;
    }
    

}
.genero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;
}

.registerCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: $colorrick;
    height: auto;
    border-radius: 20px;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
    grid-area: registercont;
}

.registergrid{
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-areas: 
    "centrarbarra centrarbarra"
    "registertitle registertitle"
    "formulario registercont";
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5%;
}
.filtro{
    display: none;
}
@import "responsive";